{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}


{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">

[36mLine: 1[0m
[31m{[0m
[31m    "@context": "http://schema.org/",[0m
[31m    "@type": "Product",[0m
[31m    "name": {{ product.title | json }},[0m
[31m    "url": {{ shop.url | append: product.url | json }},{%- if product.featured_image -%}[0m
[31m        {%- assign image_size = product.featured_image.width | append: 'x' -%}[0m
[31m        "image" : [{{ product.featured_image.src | img_url: image_size | prepend: "https:" | json }}],{%- endif -%}[0m

[36mLine: 26[0m
[32m(empty line)[0m
</script>
